.message-input-container {
  background-color: #2d2d2d;
  border-top: 1px solid #0084ff;
  padding: 16px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  display: flex;
  min-width: 273px;
}

.message-input-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  width: 100%;
  background: linear-gradient(
    90deg,
    #0084ff,
    #ff0084,
    #00ff84,
    #0084ff
  );
  background-size: 200% 100%;
  transition: opacity 0.3s;
  opacity: 0;
}

.border-animated::before {
  opacity: 1;
  border-radius: 10px;
  animation: border-move 3s linear infinite;
}

@keyframes border-move {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

.input-wrapper {
  display: flex;
}

.message-field {
  flex: 1;
  color: var(--vscode-editor-foreground);
}

.select-models-field {
  background-color: #2d2d2d;
  color: var(--vscode-editor-foreground);
  border-radius: 5px;
  min-width: 120px ;
}

.select-models-field:focus{
  outline: none;
}

mat-card-actions {
  height: 30px !important;
  min-height: 30px;
  justify-content: space-between;
}

.send-button {
  background-color: #0084ff;
  color: var(--vscode-editor-foreground) !important;
  width: 30px !important;
  height: 28px !important;

}

.send-button:disabled {
  background-color: #555;
  color: var(--vscode-editor-foreground) !important;
}

.active-microphone {
  background-color: #555;
  color: var(--vscode-editor-foreground) !important;
  width: 30px !important;
  height: 28px !important;
}

.is-active {
  background-color: #0084ff;
}

.loading-icon {
  animation: spin 1s linear infinite;
  color: var(--vscode-editor-foreground) !important;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

mat-card-actions{
  display: flex;
  flex: 1;
}

.input-status {
  display: flex;
  align-items: center;
  color: #888;
  font-size: 14px;

}

.status-text {
  font-style: italic;
}

textarea {
  resize: none;
  max-height: 120px;
  min-height: 24px;
  color: var(--vscode-editor-foreground) !important;
  width: 100%;
  background-color: transparent;
  border: none;
  overflow-y: hidden;
}

textarea:focus {
  outline: none !important;
}

textarea::placeholder {
  color: var(--vscode-editor-foreground);
}
