<div class="container-input">
  <mat-card class="message-input-container" [class.border-animated]="isLoading">

    <div class="input-wrapper">
      <div class="message-field">
        <textarea matInput [(ngModel)]="messageText" [placeholder]="placeholder" [disabled]="isLoading"
          (keydown.enter)="onEnterPressed($event)" (keydown)="onKeyDown($event)" rows="3">
        </textarea>
        <div id="fileDropdown" class="dropdown"></div>
      </div>
    </div>

    <mat-card-actions class="actions-container">
      <div class="actions-selects">
        <select [(ngModel)]="modelText" class="select-models-field" [disabled]="isLoading"
          (change)="onChangeSelected($event)">
          @for (model of chatStore.models()?.models; track model) {
          <option [value]="model.model">{{ model.name }}</option>
          }
        </select>

        <select [(ngModel)]="typeMessage" class="select-type-message-field" [disabled]="isLoading">
          <option value="Ask">Ask</option>
          <option value="Edit">Edit</option>
          <option value="Agent">Agent</option>
        </select>
      </div>

      <div class="actions-buttons">
        <button mat-icon-button class="microphone-button" [class.is-active]="isActiveMicrophone"
          (click)="activeMicrophone()" [disabled]="isMicDisabled" aria-label="Activate microphone">
          <ng-icon name="matMicOutline" />
        </button>

        <button mat-icon-button class="send-button" [class.is-active]="!isSendDisabled" (click)="sendMessage()"
          [disabled]="isSendDisabled" aria-label="Send message">

          @if (!isLoading) {
          <ng-icon name="matSendOutline" />
          }
          @if (isLoading) {
          <ng-icon class="loading-icon" name="matHourglassEmptyOutline" />
          }
        </button>
      </div>
    </mat-card-actions>
    @if (modelSelected !== undefined) {
    <div class="model-details">
      <div><b>num_ctx:</b> {{ modelSelected.model_info.ctx_number }}</div>
      <div *ngIf="modelSelected.capabilities?.length">
        <b>tools:</b> {{ modelSelected.capabilities.join(', ') }}
      </div>
      <div *ngIf="modelSelected.capabilities.includes('vision')"><b>vision:</b> ✅</div>
      <div *ngIf="modelSelected.capabilities.includes('thinking')"><b>think:</b> ✅</div>
    </div>
    }
  </mat-card>
</div>