.message-input-container {
  background-color: #2d2d2d;
  border-top: 1px solid  #0084ff;
  padding: 16px;
  min-width: 248px;
}

.input-wrapper {
  display: flex;
  gap: 10px;
}

.message-field {
  flex: 1;
  color: var(--vscode-editor-foreground);
}

.select-models-field{
  min-width: 100px !important;
  background-color: #2d2d2d;
  color: var(--vscode-editor-foreground);
  border-radius: 5px;
}

mat-card-actions{
  height: 30px !important;
  min-height: 30px;
  justify-content: space-between;
}

.send-button {
  background-color: #0084ff;
  color: var(--vscode-editor-foreground) !important;
  width: 30px !important;
  height: 28px !important;

}

.active-microphone{
  background-color: #0084ff;
  color: var(--vscode-editor-foreground) !important;
  width: 30px !important;
  height: 28px !important;
}

.send-button:disabled {
  background-color: #555;
  color: var(--vscode-editor-foreground) !important;
}

.loading-icon {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.input-status {
  margin-top: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #888;
  font-size: 14px;
}

.status-text {
  font-style: italic;
}

textarea {
  resize: none;
  max-height: 120px;
  min-height: 24px;
  color: var(--vscode-editor-foreground) !important;
}
textarea::placeholder{
  color:  var(--vscode-editor-foreground);
}
