.chat-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Header fijo arriba */
.chat-container-header {
  flex: 0 0 auto;
}

/* Contenido central (ya sea chat-list o message-list) */
.chat-container-list-chat,
app-message-list {
  flex: 1 1 auto;       // ocupa todo el espacio sobrante
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  scrollbar-width: none;
}

/* Input siempre fijo abajo */
.chat-container-message-input {
  flex: 0 0 auto;   // altura automática
  display: block;
}
