 .chat-container {
   height: 100vh;
   display: flex;
   flex-direction: column;
 }


 .chat-container-header {
   flex: 1;
 }

 .chat-container-message-list {
   flex: 16;
   overflow-y: scroll;
 }

 .chat-container-message-input {
   flex: 1;
   display: block;
 }
