.chat-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 360px;
}

.chat-container-settings {
  flex: 0 0 auto;
}

.chat-container-list-chat,
app-message-list {
  flex: 1 1 auto;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  scrollbar-width: none;
  margin: 5px;
}

.chat-container-message-input {
  min-width: 360px;
  flex: 0 0 auto;
  display: block;
}
