@import 'highlight.js/styles/github.css'; // o el tema que quieras

.code-block, .hljs {
  background: #2d2d2d;
  color: #f8f8f2;
  border-radius: 6px;
  padding: 1em;
  overflow-x: auto;
  font-family: 'Fira Code', monospace;
}

.inline-code {
  background-color: #404040;
  padding: 2px 4px;
  border-radius: 4px;
  font-family: monospace;
}
