.chat-item {
  background-color: #2d2d2d;
  min-height: 40px;
  border-radius: 6px;
  border:1px dotted var(--vscode-editor-foreground);

  color: var(--vscode-editor-foreground) !important;

  ::ng-deep .mdc-list-item__primary-text,
  ::ng-deep [matListItemTitle] {
    color: var(--vscode-editor-foreground) !important;
    font-weight: 600;
    font-size: 14px;
  }
}