<mat-toolbar class="chat-header">
  <span class="chat-title">Chat</span>
  <div class="header-actions">
    <button mat-icon-button (click)="onNewChat()">
      <ng-icon name="matAddOutline" />
    </button>
    <button mat-icon-button (click)="onHistory.emit()">
      <ng-icon name="matHistoryOutline" />
    </button>
    <button mat-icon-button (click)="onSettings()">
     <ng-icon name="matSettingsOutline" />
    </button>
    <button mat-icon-button (click)="onClose()">
     <ng-icon name="matCloseOutline" />
    </button>
  </div>
</mat-toolbar>
