<mat-toolbar class="chat-header">
  <span class="chat-title">Chat</span>
  <div class="header-actions">
    <button mat-icon-button (click)="onNewChat()">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button (click)="onHistory()">
      <mat-icon>history</mat-icon>
    </button>
    <button mat-icon-button (click)="onSettings()">
      <mat-icon>settings</mat-icon>
    </button>
    <button mat-icon-button (click)="onClose()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</mat-toolbar>
